.poke-check {
    display: flex;
    flex-flow: row;
    align-items: center;

    &>div {
        padding: 0.4rem;
    }


    .poke-check-status {
        font-size: 0.7rem;
        color: #ffffff;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #aaaaaa;
        margin-right: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        &.up {
            background-color: #036d03;
        }
        &.down {
            background-color: #8b0909;
        }

    }

    .poke-check-description {
        display: float;
        flex-flow: column nowrap;
        justify-content: space-around;

        .poke-check-name {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .poke-check-url {

        }
    }

    .poke-check-zones {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .poke-check-zone {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .poke-check-history {
      height: 100px;
    }

    granite-c3 {
        height: 100px;
    }
}
